.logo {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight: 700;
    background: #4aaaa5;
    padding: 20px;
    color: #ffffff;
    z-index: 10;
    margin-top: 0px;
}

.nav-item {
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;

}


.nav {
    width: 960px;
    margin: 0 auto;

}

.navmain {
    border-bottom: #cccccc 2px solid;
    padding-bottom: 0px;
    z-index: 99;
    width: 100%;
    margin: 0 0 30px;
    overflow: auto;
    color: #fff;
    background: #fff;

}


.verticalLine {
    border-left: thin solid gray;
    
  }

.container {
    width: 960px;
    margin: 0 auto;

}


.contact {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 28px;
    color: #4aaaa5;
    font-weight: 700;
}

hr {
    height: 1px;
    color: #cccccc;
    background: #cccccc;
}

.btn {
    background: #4aaaa5;
    border: #4aaaa5;
    font-family: Arial, Helvetica, sans-serif;
}

.form-group {
    font-family: Arial, Helvetica, sans-serif;
}

.col-6 {
    background: #ffffff;
    border: #cccccc;
    border-width: 2px;
    border-style: solid;
    padding: 40px 30px;
    font-family: Arial, Helvetica, sans-serif;

}

.col-4 {
    background: #ffffff;
    border: #cccccc;
    border-width: 2px;
    border-style: solid;
    padding: 40px 30px; 
    float: right;
}

.col-sm-2 {
    background: #ffffff;
    border: #cccccc;
    border-width: 2px;
    border-style: solid;
    padding: 40px 30px; 

}

.icons {
    float: right;

}

/* footer {
    position: fixed;
    height: 100px;
    width: 100%;
    background-color: #666666;
    border-top: solid #4aaaa5;
    border-width: 10px;
} */

footer {
    padding: 30px 0;
    clear: both;
    font-size: 12px;
    color: #fff;
    color: #ccc;
    text-align: center;
    background: #666;
    border-top: 8px solid #4aaaa5;
    height: 50px;

}

.connect {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    color: #4aaaa5;
    font-size: 21px;
}

.about {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 28px;
    color: #4aaaa5;
    font-weight: 700;

}

#profileimg {
    float: left;
    padding: 5px 15px 0px 0px;
}

.portfolio {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 28px;
    color: #4aaaa5;
    font-weight: 700;
}

.containerimg {
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
}

.work {
    position: relative;
    float: left;

    margin: 20px 0 25px;
    overflow: auto;
  }

  .work h3 {
    position: absolute;
    bottom: 20px;
    width: 100%;
    padding: 15px;
    margin-bottom: 0;
    font-weight: 300;
    line-height: 30px;
    color: #fff;
    text-align: center;
    background: #4aaaa5;
    border-bottom: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }